@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

html , body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Open Sans", sans-serif;
}

.main {
    height: 100%;
    width: 100%;
    background-color: black;
    position:relative;
}

.content{
    
    height: 75%;
    width: 100%;
    background-color: aquamarine;
    margin-top: 80px;
    position: absolute;
    display: flex;

}

.logo{
    background-color: antiquewhite;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 330px;
    width: auto;
    padding-left: 40px;
}

.headings{
    background-color: blueviolet;
}

.write{
    
    height: 100px;
    width: 45vw;
    background-color: brown;
}

.write img {
    width: 100%;
    height: 100px;
}

.join h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #dcd5d5;
    font-weight: 900;
    margin-left: 8px;
    width: 200px;
}

.button_google  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 8px;
    height: 40px;
    width:  300px;
    background-color: rgb(251, 251, 251);
}

.button_google img {
    height: 20px;
    /* margin-left: 40px; */
    margin-right: 10px;
}

.button_google h2 {
    font-size: 15px;
    font-weight: 700;
}

.button_signup {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 8px;
    height: 40px;
    width:  300px;
    background-color: #5fa1fc;
    
}

.button_signup h2 {
    font-size: 15px;
    font-weight: 500;
    font-weight: 700;
    color: white;

}

.headings h5 {
    font-size: 12px;
    margin-left: 8px;
    margin-top: 8px;
    width: 350px;
    font-weight: 450;
    color: rgb(61, 60, 60);
    margin-bottom: 20px;
}

.headings h5 a{
    text-decoration: none;
}

.already {
    background-color: burlywood;
    height: 25px;
    width: 350px;
    margin-left: 8px;
}

.already h2{
    font-size: 18px;
    font-weight: 750;
}

.signin{
    margin-top: 20px;
    margin-left: 8px;
    border: 1px solid wheat;
    border-radius: 20px;
    background-color: black;
    height: 40px ;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin h2 {
    color: #5fa1fc;
    font-size: 16px;
}

.footer {
    background: #d2e77e;
    width: 100%;
    height: 10px;
    bottom: 0;
}



