@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Grey Qo", cursive;
}

.main{
    height: 600px;
    width: 600px;
    background-color: aquamarine;

    display: flex;
    align-items:center;
    justify-content: space-around;
    
}



.vaibhav h3{
    background-color: pink;
    border: 3px solid blue;
    height: 250px;
    width: 250px;
    border-radius: 20px;

}
.Deeya h3{
    background-color: rgb(207, 62, 86);
    border: 3px solid rgb(11, 11, 23);
    height: 250px;
    width: 250px;
    font-size: 60px;
    
    color: rgb(5, 5, 5);
    
}